h3{
    font-size: 25px !important;
}

.btn-danger:hover{
    background-color: aquamarine;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes example{
    from{box-shadow: 15px 15px 60px yellow ;}
    to{box-shadow: 15px 15px 60px pink ;}
}

#text{
color: black;
}